.invalid-class{
    border: 2px solid red;
  }
  .valid-class{
    border:2px solid green;
  }
  form {
padding: 5px;
margin: 5px;
box-shadow: 0 2px 5px #121111; 

}
input, textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
  }
input::placeholder {
  color: #666;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9; 
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  }
  button:hover {
  background: #2371a0;
  }